body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  background: #0ea2dc;
  color: #fff;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  text-shadow: 2px 2px 2px #0b81b0;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

button {
  display: block;
  width: 300px;
  height: 50px;
  margin: 20px auto;
  background: #0b81b0;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

a {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}