body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  background: #0ea2dc;
  color: #fff;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  text-shadow: 2px 2px 2px #0b81b0;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

button {
  box-sizing: border-box;
  width: 40%;
  width: -webkit-calc(50% - 19px);
  width: calc(50% - 19px);
  height: 55px;
  margin: 8px;
  padding: 5px 0;
  background: #15619b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

button.emergency {
  width: 90%;
  width: -ms-calc(100% - 18px);
  width: calc(100% - 18px);
  background: #dd7052;
}

a {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: #fff;
}